body {
    margin: 0;
    font-family: system-ui;
    display: flex;
    background-color: burlywood;
}

div {
    height: 5vh;
    width: 100%;
    align-items: center;
    text-align: center;
    font-size: 30px;
}

img {
    height: 100%;
    width: 100%;
}

button {
    height: 10vh;
    width: 15vw;
    font-size: 25px;
}

.container {
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    width: calc(100vw/3);
    gap: 4vh;
    border-right: 1px solid black;
}

.top {
    margin-top: 15vh;
}

#title {
    height: 10vh;
    font-weight: bold;
    font-size: 50px;
    background-color: rgb(165, 83, 42);
}

#cookie {
    height: 30vh;
    width: 17.5vw;
    background-color: rgb(165, 110, 42);
    margin-top: 10vh;
    transition: 0.1s ease;
    border: none;
}

#cookie:active {
    transform: scale(1.1);
}

#save {
    margin-top: 55vh;
    background-color: rgb(47, 224, 47);
}

#reset {
    margin-top: 3vh;
    background-color: rgb(193, 16, 16);
}

#column1 {
    background-color: rgb(165, 110, 42);
}