body {
    margin: 0;
    font-family: system-ui;
    display: flex;
    background-color: burlywood;
}

div {
    height: 5vh;
    width: 100%;
    align-items: center;
    text-align: center;
    font-size: 30px;
}

img {
    height: 100%;
    width: 100%;
}

button {
    height: 10vh;
    width: 15vw;
    font-size: 25px;
    border-radius: 5px;
    transition: 0.1s ease;
}

span {
    font-size: 25px;
}

.container {
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    width: calc(100vw/3);
    gap: 5vh;
    border-right: 2px solid rgb(132, 73, 43);
}

.title {
    height: 10vh;
    font-weight: bold;
    font-size: 50px;
    background-color: rgb(132, 72, 43);
    border-bottom: 2px solid rgb(117, 62, 35);
}

.upgrades {
    margin-top: 3.5vh;
}

.upgradeButton {
    background-color: rgb(229, 211, 188);
    border: none;
    font-size: 25px;
}

#cookie {
    height: 30vh;
    width: 17.5vw;
    background-color: rgb(243, 224, 183);
    margin-top: 10vh;
    border-radius: 50%;
    transition: 0.1s ease;
    border: none;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(1);
}

#save {
    margin-top: 50vh;
    background-color: rgb(47, 224, 47);
}

#reset {
    margin-top: 3vh;
    background-color: rgb(193, 16, 16);
}

#column1 {
    background-color: rgb(243, 224, 183);
}

#column3 {
    background-color: rgb(208, 164, 109);
}